@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transition($property, $duration) {
    -moz-transition: $property $duration ease-out;
    -webkit-transition: $property $duration ease-out;
    -o-transition: $property $duration ease-out;
    transition: $property $duration ease-out;
}
